*{margin: 0;padding: 0;font-family: 'Poppins', sans-serif;}
body{
  min-height: 100vh;
  background-position: center;background-repeat: no-repeat;background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c114 C 57.6%2c136.8 172.8%2c224.2 288%2c228 C 403.2%2c231.8 460.8%2c147.8 576%2c133 C 691.2%2c118.2 748.8%2c173.6 864%2c154 C 979.2%2c134.4 1036.8%2c11.6 1152%2c35 C 1267.2%2c58.4 1382.4%2c223.8 1440%2c271L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c521 C 96%2c475.6 288%2c307.2 480%2c294 C 672%2c280.8 768%2c453.8 960%2c455 C 1152%2c456.2 1344%2c331 1440%2c300L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
  .container{
    padding-top: 100px;
  }
.password_show{
    min-height: 60px;
}
i{
    font-size: 40px;
    cursor: pointer;
}
.glass{
background: rgba(255, 255, 255, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
}
button{
  color: #fff;
  background-color: #2264AB;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
button:hover{
  background-color: #fff;
  color: #2264AB;
}
a{color: inherit;}